<!DOCTYPE html>
<html>

<head>
  <title>Random Cocktail</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/main.css">

</head>

<body>
  <div class="head">
    <h1>Random Cocktail Recipe</h1>
    <button id="refreshButton" onclick="getRandomCocktail()">Get Random Cocktail</button>
  </div>
    <div id="cocktail-info">
      <h2><%= name %></h2>
      <img src="<%= imageUrl %>" alt="<%= name %>"/>
      <h3>Ingredients:</h3>
      <ul>
        <% ingredients.forEach(ingredient => { %>
          <li><%= ingredient %></li>
        <% }); %>
      </ul>
      <h3>Instructions:</h3>
      <p><%= instructions %></p>
 </div>
</body>
<script>
  function getRandomCocktail() {
    location.reload();
  }
</script>
</html>